{% extends "include/_mainLayout.html" %}
{% load static %}

{% block content %}
    <div class="trending-bar hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="trending-title">خبرهای داغ</h3>
						<div id="trending-slide" class="owl-carousel owl-theme trending-slide">
							<div class="item">
								<div class="post-content">
									<h2 class="post-title title-small">
										<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
									</h2>
								</div><!-- Post content end -->
							</div><!-- Item 1 end -->
							<div class="item">
								<div class="post-content">
									<h2 class="post-title title-small">
										<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با</a>
									</h2>
								</div><!-- Post content end -->
							</div><!-- Item 2 end -->
							<div class="item">
								<div class="post-content">
									<h2 class="post-title title-small">
										<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده</a>
									</h2>
								</div><!-- Post content end -->
							</div><!-- Item 3 end -->
						</div><!-- Carousel end -->
					</div><!-- Col end -->
				</div><!--/ Row end -->
			</div><!--/ Container end -->
		</div><!--/ Trending end -->

		<div id="top-bar" class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="ts-date">
							<i class="fa fa-calendar-check-o"></i>28 آذر 1396
						</div>
						<ul class="unstyled top-nav">
							<li><a href="#">درباره ما</a></li>
							<li><a href="#">برای ما بنویسید</a></li>
							<li><a href="#">تبلیغات</a></li>
							<li><a href="#">تماس</a></li>
						</ul>
					</div><!--/ Top bar left end -->

					<div class="col-md-4 col-sm-4 col-xs-12 top-social text-right">
						<ul class="unstyled">
							<li>
								<a title="Facebook" href="#">
									<span class="social-icon"><i class="fa fa-facebook"></i></span>
								</a>
								<a title="Twitter" href="#">
									<span class="social-icon"><i class="fa fa-twitter"></i></span>
								</a>
								<a title="Google+" href="#">
									<span class="social-icon"><i class="fa fa-google-plus"></i></span>
								</a>
								<a title="Linkdin" href="#">
									<span class="social-icon"><i class="fa fa-linkedin"></i></span>
								</a>
								<a title="Rss" href="#">
									<span class="social-icon"><i class="fa fa-rss"></i></span>
								</a>
								<a title="Skype" href="#">
									<span class="social-icon"><i class="fa fa-skype"></i></span>
								</a>
							</li>
						</ul><!-- Ul end -->
					</div><!--/ Top social col end -->
				</div><!--/ Content row end -->
			</div><!--/ Container end -->
		</div><!--/ Topbar end -->

		<!-- Header start -->
		<header id="header" class="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3">
						<div class="logo">
							<a href='{% static "index.html"%}'>
								<img src='{% static "images/logos/logo.png"%}' alt="">
							</a>
						</div>
					</div><!-- logo col end -->

					<div class="col-xs-12 col-sm-9 col-md-9 header-right">
						<div class="ad-banner pull-right">
							<a href="#"><img src='{% static  "images/banner-ads/ad-top-header.png"%}' class="img-responsive" alt=""></a>
						</div>
					</div><!-- header right end -->
				</div><!-- Row end -->
			</div><!-- Logo and banner area end -->
		</header><!--/ Header end -->

		<div class="main-nav clearfix">
			<div class="container">
				<div class="row">
					<nav class="site-navigation navigation">
						<div class="site-nav-inner pull-left">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">تغییر وضعیت ناوبری</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<div class="collapse navbar-collapse navbar-responsive-collapse">
								<ul class="nav navbar-nav">
									<li class="dropdown active">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">خانه <i class="fa fa-angle-down"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li class="active"><a href="index.html">خانه 1</a></li>
											<li><a href="index-2.html">خانه 2</a></li>
											<li><a href="index-3.html">خانه 3</a></li>
											<li><a href="index-4.html">خانه 4</a></li>
											<li><a href="index-5.html">خانه 5</a></li>
										</ul>
									</li>

									<li class="dropdown mega-dropdown">
										<a href='{% static "category-style1.html"%}' class="dropdown-toggle">سبک زندگی <i class="fa fa-angle-down"></i></a>
										<div class="dropdown-menu mega-menu-content hidden-xs hidden-sm clearfix">
											<div class="menu-tab">
												<ul class="nav nav-tabs nav-stacked col-md-2" data-toggle="tab-hover">
													<li class="active">
														<a class="animated fadeIn" href="#tab-A" data-toggle="tab">
															<span class="tab-head">
																<span class="tab-text-title">سلامتی</span>
															</span>
														</a>
													</li>
													<li>
														<a class="animated fadeIn" href="#tab-B" data-toggle="tab">
															<span class="tab-head">
																<span class="tab-text-title">مسافرت</span>
															</span>
														</a>
													</li>
													<li>
														<a class="animated fadeIn" href="#tab-C" data-toggle="tab">
															<span class="tab-head">
																<span class="tab-text-title">غذا</span>
															</span>
														</a>
													</li>
													<li>
														<a class="animated fadeIn" href="#tab-D" data-toggle="tab">
															<span class="tab-head">
																<span class="tab-text-title">معماری</span>
															</span>
														</a>
													</li>
												</ul>

												<div class="tab-content col-md-10">
													<div class="tab-pane active animated fadeIn" id="tab-A">
														<div class="row">
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/health1.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">سلامتی</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 1 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/health2.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">سلامتی</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 2 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/health3.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">سلامتی</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 3 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/health4.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">سلامتی</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 4 end -->
														</div><!-- Post block row end -->
													</div><!-- Tab pane 1 end -->

													<div class="tab-pane animated fadeIn" id="tab-B">
														<div class="row">
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/travel1.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">مسافرت</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 1 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/travel2.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">مسافرت</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 2 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/travel3.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">مسافرت</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 3 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/travel4.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">مسافرت</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 4 end -->
														</div><!-- Post block row end -->

													</div><!-- Tab pane 2 end -->

													<div class="tab-pane animated fadeIn" id="tab-C">
														<div class="row">
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/food1.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">غذا</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 1 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/food2.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">غذا</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 2 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/food3.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">غذا</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 3 end -->
															<div class="col-md-3">
																<div class="post-block-style clearfix">
																	<div class="post-thumb">
																		<a href="#"><img class="img-responsive" src='{% static "images/news/lifestyle/food4.jpg"%}' alt=""></a>
																	</div>
																	<a class="post-cat" href="#">غذا</a>
																	<div class="post-content">
																		<h2 class="post-title title-small">
																			<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
																		</h2>
																	</div><!-- Post content end -->
																</div><!-- Post Block style end -->
															</div><!-- Col 4 end -->
														</div><!-- Post block row end -->
													</div><!-- Tab pane 3 end -->

												</div><!-- tab content -->
											</div><!-- Menu tab end -->
										</div><!-- Mega menu end -->
									</li><!-- Tab menu end -->

									<li>
										<a href='{% static "category-style2.html"%}'>تکنولوژی</a>
									</li>

									<li class="dropdown mega-dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">ویدئو <i class="fa fa-angle-down"></i></a>
										<div class="dropdown-menu mega-menu-content hidden-xs hidden-sm clearfix">
											<div class="mega-menu-content-inner">
												<div class="row">
													<div class="col-md-3">
														<div class="post-block-style clearfix">
															<div class="post-thumb">
																<img class="img-responsive" src='{% static "images/news/video/video4.jpg"%}' alt="">
																<a class="popup" href="https://www.youtube.com/embed/XhveHKJWnOQ?autoplay=1&loop=1">
																	<div class="video-icon">
																		<i class="fa fa-play"></i>
																	</div>
																</a>
															</div><!-- Post thumb end -->
															<div class="post-content">
																<h2 class="post-title title-small">
																	<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</a>
																</h2>
															</div><!-- Post content end -->
														</div><!-- Post Block style end -->
													</div><!-- Col 1 end -->

													<div class="col-md-3">
														<div class="post-block-style clearfix">
															<div class="post-thumb">
																<img class="img-responsive" src='{% static "images/news/video/video3.jpg"%}' alt="">
																<a class="popup" href="https://www.youtube.com/embed/wJF5NXygL4k?autoplay=1&loop=1">
																	<div class="video-icon">
																		<i class="fa fa-play"></i>
																	</div>
																</a>
															</div><!-- Post thumb end -->
															<div class="post-content">
																<h2 class="post-title title-small">
																	<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</a>
																</h2>
															</div><!-- Post content end -->
														</div><!-- Post Block style end -->
													</div><!-- Col 2 end -->

													<div class="col-md-3">
														<div class="post-block-style clearfix">
															<div class="post-thumb">
																<img class="img-responsive" src='{% static "images/news/video/video2.jpg"%}' alt="">
																<a class="popup" href="https://www.youtube.com/embed/DQNDcxRo-2M?autoplay=1&loop=1">
																	<div class="video-icon">
																		<i class="fa fa-play"></i>
																	</div>
																</a>
															</div><!-- Post thumb end -->
															<div class="post-content">
																<h2 class="post-title title-small">
																	<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a>
																</h2>
															</div><!-- Post content end -->
														</div><!-- Post Block style end -->
													</div><!-- Col 3 end -->
													<div class="col-md-3">
														<div class="post-block-style clearfix">
															<div class="post-thumb">
																<img class="img-responsive" src='{% static "images/news/video/video1.jpg"%}' alt="">
																<a class="popup" href="https://www.youtube.com/embed/DQNDcxRo-2M?autoplay=1&loop=1">
																	<div class="video-icon">
																		<i class="fa fa-play"></i>
																	</div>
																</a>
															</div><!-- Post thumb end -->
															<div class="post-content">
																<h2 class="post-title title-small">
																	<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</a>
																</h2>
															</div><!-- Post content end -->
														</div><!-- Post Block style end -->
													</div><!-- Col 4 end -->
												</div><!-- Post block row end -->
											</div>

										</div><!-- Mega menu content end -->
									</li><!-- Video menu end -->

									<li>
										<a href='{% static "category-style4.html"%}'>مسافرت</a>
									</li>

									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">ویژگی ها <i class="fa fa-angle-down"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li class="dropdown-submenu">
												<a href="#.">طرح های دسته ها</a>
												<ul class="dropdown-menu">
													<li><a href='{% static "category-style1.html"%}'>طرح دسته 1</a></li>
													<li><a href='{% static "category-style2.html"%}'>طرح دسته 2</a></li>
													<li><a href='{% static "category-style3.html"%}'>طرح دسته 3</a></li>
													<li><a href='{% static "category-style4.html"%}'>طرح دسته 4</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="#.">طرح های مطالب</a>
												<ul class="dropdown-menu">
													<li><a href='{% static "single-post1.html"%}'>طرح مطلب 1</a></li>
													<li><a href='{% static "single-post2.html"%}'>طرح مطلب 2</a></li>
													<li><a href='{% static "single-post3.html"%}'>طرح مطلب 3</a></li>
													<li><a href='{% static "single-post4.html"%}'>طرح مطلب 4</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="#.">نوار کناری</a>
												<ul class="dropdown-menu">
													<li><a href='{% static "right-sidebar.html"%}'>نوار کناری سمت راست</a></li>
													<li><a href='{% static "single-post1.html"%}'>نوار کناری سمت چپ</a></li>
													<li><a href='{% static "no-sidebar.html"%}'>بدون نوار کناری</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="#.">کدهای کوتاه</a>
												<ul class="dropdown-menu">
													<li><a href='{% static "typography.html"%}'>تایپوگرافی</a></li>
													<li><a href='{% static "blockquote.html"%}'>نقل قول ها</a></li>
													<li><a href='{% static "tabs.html"%}'>تب ها</a></li>
												</ul>
											</li>
											<li class="dropdown-submenu">
												<a href="#.">صفحات</a>
												<ul class="dropdown-menu">
													<li><a href='{% static "author.html"%}'>نویسنده</a></li>
													<li><a href='{% static "404.html"%}'>404</a></li>
													<li><a href='{% static "contact.html"%}'>تماس</a></li>
												</ul>
											</li>
										</ul><!-- End dropdown -->
									</li><!-- Features menu end -->


								</ul><!--/ Nav ul end -->
							</div><!--/ Collapse end -->

						</div><!-- Site Navbar inner end -->
					</nav><!--/ Navigation end -->

					<div class="nav-search">
						<span id="search"><i class="fa fa-search"></i></span>
					</div><!-- Search end -->

					<div class="search-block" style="display: none;">
						<input type="text" class="form-control" placeholder="عبارت را وارد نموده و اینتر بزنید">
						<span class="search-close">×</span>
					</div><!-- Site search end -->

				</div><!--/ Row end -->
			</div><!--/ Container end -->

		</div><!-- Menu wrapper end -->

		<div class="gap-40"></div>
<div class="page-title">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<ol class="breadcrumb">
							<li><a href="#">خانه</a></li>
							<li>سبک زندگی</li>
						</ol>
					</div><!-- Col end -->
				</div><!-- Row end -->
			</div><!-- Container end -->
		</div><!-- Page title end -->

		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

						<div class="block category-listing">
							<h3 class="block-title"><span>پست ها</span></h3>

							<ul class="subCategory unstyled">
                                {% for post in page_obj %}

                                    <li><a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></li>

                                {% endfor %}
								<li><a href="#">مسافرت</a></li>
								<li><a href="#">سلامتی</a></li>
								<li><a href="#">معماری</a></li>
								<li><a href="#">غذا</a></li>
							</ul>

							<div class="row">


                                {% for post in page_obj %}

								<div class="col-md-6 col-sm-6">
									<div class="post-block-style post-grid clearfix">
										<div class="post-thumb">
											<a href="#">
												<img class="img-responsive" src="{{ post.image.url }}" alt="">
											</a>
										</div>
										<a class="post-cat" href="#">{{ post.category.title }}</a>
										<div class="post-content">
											<h2 class="post-title title-large">
												<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
											</h2>
											<div class="post-meta">
												<span class="post-author"><a href="#">{{ post.auth }}</a></span>
												<span class="post-date">24 تیر 1396</span>
												<span class="post-comment pull-right"><i class="fa fa-comments-o"></i>
													<a href="#" class="comments-link"><span>03</span></a></span>
											</div>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان</p>
										</div><!-- Post content end -->
									</div><!-- Post Block style end -->
								</div><!-- Col 1 end -->

                                {% endfor %}




							</div><!-- Row end -->
						</div><!-- Block Lifestyle end -->

						<div class="paging">
							<ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.pervious_page_number }}">قبلی <i class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page == page_obj.number %}
                                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>

                                            {% else %}

                                                <li><a href="?page={{ page }}">{{ page }}</a></li>

                                            {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">بعدی <i class="fa fa-angle-left"></i></a></li>
                                {% endif %}
								<li>
									<span class="page-numbers">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span>
								</li>
							</ul>
						</div><!-- Paging end -->


					</div><!-- Content Col end -->

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="sidebar sidebar-right">
							<div class="widget">
								<h3 class="block-title"><span>ما را دنبال کنید</span></h3>

								<ul class="social-icon">
									<li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
									<li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
								</ul>
							</div><!-- Widget Social end -->

							<div class="widget color-default">
								<h3 class="block-title"><span>اخبار پربازدید</span></h3>

								<div class="post-overaly-style clearfix">
									<div class="post-thumb">
										<a href="#">
											<img class="img-responsive" src='{% static "images/news/lifestyle/health4.jpg"%}' alt="">
										</a>
									</div>

									<div class="post-content">
										<a class="post-cat" href="#">سلامتی</a>
										<h2 class="post-title title-small">
											<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
										</h2>
										<div class="post-meta">
											<span class="post-date">2 شهریور 1396</span>
										</div>
									</div><!-- Post content end -->
								</div><!-- Post Overaly Article end -->


								<div class="list-post-block">
									<ul class="list-post">
										<li class="clearfix">
											<div class="post-block-style post-float clearfix">
												<div class="post-thumb">
													<a href="#">
														<img class="img-responsive" src='{% static "images/news/tech/gadget3.jpg"%}' alt="">
													</a>
													<a class="post-cat" href="#">گجت ها</a>
												</div><!-- Post thumb end -->

												<div class="post-content">
													<h2 class="post-title title-small">
														<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با</a>
													</h2>
													<div class="post-meta">
														<span class="post-date">15 آذر 1396</span>
													</div>
												</div><!-- Post content end -->
											</div><!-- Post block style end -->
										</li><!-- Li 1 end -->

										<li class="clearfix">
											<div class="post-block-style post-float clearfix">
												<div class="post-thumb">
													<a href="#">
														<img class="img-responsive" src='{% static "images/news/lifestyle/travel5.jpg"%}' alt="">
													</a>
													<a class="post-cat" href="#">مسافرت</a>
												</div><!-- Post thumb end -->

												<div class="post-content">
													<h2 class="post-title title-small">
														<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a>
													</h2>
													<div class="post-meta">
														<span class="post-date">18 بهمن 1396</span>
													</div>
												</div><!-- Post content end -->
											</div><!-- Post block style end -->
										</li><!-- Li 2 end -->

										<li class="clearfix">
											<div class="post-block-style post-float clearfix">
												<div class="post-thumb">
													<a href="#">
														<img class="img-responsive" src='{% static "images/news/tech/robot5.jpg"%}' alt="">
													</a>
													<a class="post-cat" href="#">رباتیک</a>
												</div><!-- Post thumb end -->

												<div class="post-content">
													<h2 class="post-title title-small">
														<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با</a>
													</h2>
													<div class="post-meta">
														<span class="post-date">30 فروردین 1396</span>
													</div>
												</div><!-- Post content end -->
											</div><!-- Post block style end -->
										</li><!-- Li 3 end -->

										<li class="clearfix">
											<div class="post-block-style post-float clearfix">
												<div class="post-thumb">
													<a href="#">
														<img class="img-responsive" src='{% static "images/news/lifestyle/food1.jpg"%}' alt="">
													</a>
													<a class="post-cat" href="#">غذا</a>
												</div><!-- Post thumb end -->

												<div class="post-content">
													<h2 class="post-title title-small">
														<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</a>
													</h2>
													<div class="post-meta">
														<span class="post-date">27 خرداد 1396</span>
													</div>
												</div><!-- Post content end -->
											</div><!-- Post block style end -->
										</li><!-- Li 4 end -->

									</ul><!-- List post end -->
								</div><!-- List post block end -->

							</div><!-- Popular news widget end -->

							<div class="widget text-center">
								<img class="banner img-responsive" src='{% static "images/banner-ads/ad-sidebar.png"%}' alt="">
							</div><!-- Sidebar Ad end -->

							<div class="widget m-bottom-0">
								<h3 class="block-title"><span>خبرنامه</span></h3>
								<div class="ts-newsletter">
									<div class="newsletter-introtext">
										<h4>به روز باشید</h4>
										<p>با عضویت در خبرنامه جدیدترین اخبار را در ایمیل خود دریافت کنید!</p>
									</div>

									<div class="newsletter-form">
										<form action="#" method="post">
											<div class="form-group">
												<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="ایمیل" autocomplete="off">
												<button class="btn btn-primary">عضویت</button>
											</div>
										</form>
									</div>
								</div><!-- Newsletter end -->
							</div><!-- Newsletter widget end -->

						</div><!-- Sidebar right end -->
					</div><!-- Sidebar Col end -->

				</div><!-- Row end -->
			</div><!-- Container end -->
		</section><!-- First block end -->
{% endblock %}