{% load static %}
<!-- Javascript Files
================================================== -->

		<!-- initialize jQuery Library -->
		<script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
		<!-- Bootstrap jQuery -->
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
		<!-- Owl Carousel -->
		<script type="text/javascript" src="{% static 'js/owl.carousel.min.js'%}"></script>
		<!-- Counter -->
		<script type="text/javascript" src="{% static 'js/jquery.counterup.min.js'%}"></script>
		<!-- Waypoints -->
		<script type="text/javascript" src="{% static 'js/waypoints.min.js'%}"></script>
		<!-- Color box -->
		<script type="text/javascript" src="{% static 'js/jquery.colorbox.js'%}"></script>


		<!-- Template custom -->
		<script type="text/javascript" src="{% static 'js/custom.js'%}"></script>